@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gliker Bold';
  src: url("/Gliker-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Gliker';
  src: url("/Gliker-BlackExtraExpanded.ttf") format('truetype');
}

h1, h2, h4 {
  font-family: 'Gliker Bold';
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}




@layer base {

:root  {
  --background: 162 100% 95%;
  --foreground: 162 5% 10%;
  --card: 162 50% 90%;
  --card-foreground: 162 5% 15%;
  --popover: 162 100% 95%;
  --popover-foreground: 162 100% 10%;
  --primary: 162 27.4% 69.2%;
  --primary-foreground: 0 0% 0%;
  --secondary: 162 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 124 30% 85%;
  --muted-foreground: 162 5% 35%;
  --accent: 124 30% 80%;
  --accent-foreground: 162 5% 15%;
  --destructive: 0 100% 35%;
  --destructive-foreground: 162 5% 90%;
  --border: 162 30% 50%;
  --input: 162 30% 35%;
  --ring: 162 27.4% 69.2%;
  --radius: 0.5rem;
}
.dark  {
  --background: 162 50% 10%;
  --foreground: 162 5% 90%;
  --card: 162 50% 10%;
  --card-foreground: 162 5% 90%;
  --popover: 162 50% 5%;
  --popover-foreground: 162 5% 90%;
  --primary: 162 27.4% 69.2%;
  --primary-foreground: 0 0% 0%;
  --secondary: 162 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 124 30% 25%;
  --muted-foreground: 162 5% 60%;
  --accent: 124 30% 25%;
  --accent-foreground: 162 5% 90%;
  --destructive: 0 100% 35%;
  --destructive-foreground: 162 5% 90%;
  --border: 162 30% 35%;
  --input: 162 30% 35%;
  --ring: 162 27.4% 69.2%;
  --radius: 0.5rem;
}
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
